<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ranking - Jogo da Forca</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  
  <link rel="stylesheet" href="/public/src/styles/ranking.css" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
  </style>
</head>
<body>

  <header>
    <a href="menu.html" class="btn-voltar" aria-label="Voltar ao menu">
      <i class="fa fa-arrow-left"></i>
    </a>

    <div class="icon-img">
      <img src="/public/assets/images/bob1.png" alt="Ícone Jogo da Forca">
    </div>

    <h1 class="fonte_titulo">RANKING</h1>

    <div class="icon-img">
      <img src="/public/assets/images/patrick1.png" alt="Ícone Jogo da Forca">
    </div>
  </header>

  <div class="ranking-container">
    <div class="ranking-lista"></div> 
  </div>

  <script src="/public/src/js/ranking.js"></script>
</body>
</html>
